<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cresonnglobal.mdcp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".booleans.BooleanActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Audio Recorder"
            android:name=".audio.AudioActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Image"
            android:name=".photo.PhotoActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Video Recorder"
            android:name=".video.VideoActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Time"
            android:name=".time.TimeActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Date Picker"
            android:name=".date.DateActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Integers"
            android:name=".number.NumberActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Decimal"
            android:name=".decimal.DecimalActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Text"
            android:name=".text.TextActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:label="Long Text"
            android:parentActivityName=".MainActivity"
            android:name=".textarea.TextAreaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>